body {
  color: #152038;
  background: #ffffff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 0 10px; }

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 6rem;
  margin: 0; }

h2 {
  font-weight: 700;
  text-align: center; }

h3 {
  font-weight: 600; }

p {
  font-weight: 400; }

.subheading {
  font-size: 1.5rem;
  margin-top: 0; }

.header-nav ul {
  list-style: none;
  text-align: center;
  padding: 0; }
  .header-nav ul li {
    display: inline-block;
    padding: 5px 15px; }
    .header-nav ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.17rem; }

section {
  margin-top: 30px; }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 92vh; }

.icons-social i {
  font-size: 2em;
  padding: 10px; }

.content-box {
  padding: 40px 0 20px 0; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .flex-container .left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .flex-container .right-part {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.about-left {
  width: 400px; }

.about-right {
  width: 600px; }

#experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.project {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 35px; }
  .project:nth-child(even) {
    flex-direction: row-reverse; }
  .project-item {
    width: 400px; }

.project-item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#contact p {
  text-align: center; }

footer {
  text-align: center;
  margin-top: 30px; }
