
    $primary-white : #ffffff;
    $primary-blue: #152038;

    $secondary-pink: #D2738F;
    $secondary-blue: #3078B4;
    
    $light-pink: #F9DBD8;
    $light-blue: #BBD0D0;

body {
    color: $primary-blue;
    background: $primary-white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1140px;
    padding:  0 10px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-weight: 700;
    text-align: center;
}

h3 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.subheading {
    font-size: 1.5rem;
    margin-top: 0;
}

.header-nav { 
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        li {
            display: inline-block; 
            padding: 5px 15px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.17rem;
            }
        }
    }
}

section {
 margin-top: 30px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.icons-social {
    i {
        font-size: 2em;
        padding: 10px;
    }
}

.flex-container {
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .right-part {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
}

.about-left {
    width: 400px;
}

.about-right {
    width: 600px;
}

  #experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      &:nth-child(even) {
        flex-direction: row-reverse; // 3
      }
      &-item {
        width: 400px;
      }
  }

  #contact {
      p {
          text-align: center;
      }
  }

  footer {
    text-align: center;
  }