body {
  color: #152038;
  background: #ffffff;
  box-sizing: border-box; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 0 10px; }

.header-nav ul {
  list-style: none;
  text-align: center; }
  .header-nav ul li {
    display: inline-block;
    padding: 5px 15px; }
    .header-nav ul li a {
      text-decoration: none;
      text-transform: uppercase; }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px; }

.icons-social i {
  font-size: 2em;
  padding: 10px; }

h2 {
  text-align: center; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.left-part {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.right-part {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
