body {
  color: #152038;
  background: #ffffff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 52px; }

h2 {
  font-weight: 700; }

h3 {
  font-weight: 600; }

p {
  font-weight: 400; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding: 0 10px; }

.header-nav ul {
  list-style: none;
  text-align: center; }
  .header-nav ul li {
    display: inline-block;
    padding: 5px 15px; }
    .header-nav ul li a {
      text-decoration: none;
      text-transform: uppercase; }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px; }

.icons-social i {
  font-size: 2em;
  padding: 10px; }

h2 {
  text-align: center; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .flex-container .left-part {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .flex-container .right-part {
    display: flex;
    justify-content: center;
    flex-direction: column; }

.about-left {
  width: 400px; }

.about-right {
  width: 600px; }

#experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.project {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around; }
  .project:nth-child(even) {
    flex-direction: row-reverse; }
  .project-item {
    width: 400px; }

#contact p {
  text-align: center; }

footer {
  text-align: center; }
