
    $primary-white : #ffffff;
    $primary-blue: #152038;

    $secondary-pink: #D2738F;
    $secondary-blue: #3078B4;
    
    $light-pink: #F9DBD8;
    $light-blue: #BBD0D0;

body {
    color: $primary-blue;
    background: $primary-white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1140px;
    padding:  0 10px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    margin: 0;
    color: $secondary-pink;
}

h2 {
    font-weight: 700;
    text-align: center;
    color: $primary-blue;
}

h3 {
    font-weight: 600;
    color: $secondary-blue;
}

p {
    font-weight: 400;
}

.subheading {
    font-size: 1.5rem;
    color: $secondary-blue;
}

.header-nav { 
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        li {
            display: inline-block; 
            padding: 5px 15px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.17rem;
                color: $primary-blue;
                &:hover {
                    color: $secondary-blue;
                }
                &:active {
                    color: $light-blue;
                }
            }
        }
    }
}

section {
 padding-top: 20px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 92vh;
}

.icons-social {
    margin: 1em 0;
    i {
        font-size: 2em;
        padding: 10px;
        color: $primary-blue;
        &:hover {
            color: $secondary-blue;
        }
        &:active {
            color: $light-blue;
        }
    }
}

.content-box {
    padding: 40px 0 20px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .right-part {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
}

.about-left {
    width: 400px;
    img {
        padding: 10px;
        border: 7px solid $light-pink;
    }
}

.about-right {
    width: 600px;
    p {
        span {
            color: $secondary-blue;
            font-weight: 600;
        }
    }
}

#experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            li {
                list-style-type: none;
                position: relative;
                width: 4px;
                margin: 0 auto;
                padding: 30px 0;
                background: $light-pink;
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 45px;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: $secondary-pink;
                }
                &:nth-child(odd) {
                    div {
                        left: 45px;
                        text-align: left;
                    }
                }
                &:nth-child(even) {
                    div {
                        right: 495px;
                        text-align: right;
                    }
                }
                div {
                    position: relative;
                    width: 420px;
                    padding: 15px;
                    P {
                        margin: 0;
                    }
                    h3 {
                        margin-top: 0;
                    }
                }
            }
        }
}

.project {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 35px;
    &:nth-child(even) {
        flex-direction: row-reverse; // 3
    }
    &-item {
        width: 400px;
    }
}

.project-item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        padding: 7px;
        border: 5px solid $light-pink;
    }
}

#contact {
    p {
        text-align: center;
    }
}

.flex-container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0;
    .left-part-contact {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-part-contact {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .color-text {
            color: $secondary-blue;
            font-weight: 600;
        }

        a {
            color: $primary-blue;
            &:hover {
                color: $secondary-pink;
            }
            &:active {
                color: $light-pink;
            }
        }
    }
}

.contact-form {
    .form-group {
        position: relative;
        margin: 1.5rem 0;
        .form-control {
            display: block;
            width: 100%;
            height: 2rem;
            border-width: 0 0 2px 0;
            border-color: $secondary-blue;
            font-family: inherit;
            line-height: 1.5rem;
            font-weight: 400;
            margin-top: 0.5rem;
        }
        textarea.form-control {
            height: auto;
        }
    }
    .btn {
        display: inline-block;
        background-color: $primary-blue;
        color: $primary-white;
        font-family: inherit;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.5rem;
        padding: 8px 16px 8px 18px;
        border: none;
        cursor: pointer;
        margin: .5rem 2.3rem;
        float: left;

        &:hover {
            background-color: $secondary-blue;
        }

        &:active {
            background-color: $light-blue;
        }
    }
    .cv-link {
        float: right;
        margin: .5rem 2.3rem;
        padding: 8px 16px;
        text-decoration: none;
        color: $primary-blue;
        border: 2px solid $primary-blue;

        &:hover {
            border-color: $secondary-blue;
        }

        &:active {
            border-color: $light-blue;
        }
    }
}

footer {
    text-align: center;
    margin-top: 30px;
}