$primary-white : #ffffff;
$primary-blue: #152038;

$secondary-pink: #D2738F;
$secondary-blue: #3078B4;
    
$light-pink: #F9DBD8;
$light-blue: #BBD0D0;

html {
    color: $primary-blue;
    background: $primary-white;
    
    &[data-theme='dark'] {
        color: $primary-white;
        background: $primary-blue;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1140px;
    padding:  0 1rem;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    margin: 0;
    color: $secondary-pink;
    padding: 0 1rem;
}

h2 {
    font-weight: 700;
    text-align: center;
}

h3 {
    font-weight: 600;
    color: $secondary-blue;

    html[data-theme='dark'] & {
        color: $secondary-pink;
    }
}

p {
    font-weight: 400;
    span {
        font-weight: 600;
        color: $secondary-blue;

        html[data-theme='dark'] & {
            color: $secondary-pink;
        }
    }
}

a, i {
    color: $primary-blue;
        &:hover {
            color: $secondary-blue;
        }

        &:active {
            color: $light-blue;
        }

        html[data-theme='dark'] & {
            color: $primary-white;

            &:hover {
                color: $light-blue;
            }

            &:active {
                color: $secondary-blue;
            }
        }
}

.subheading {
    font-size: 1.5rem;
    color: $secondary-blue;

    html[data-theme='dark'] & {
        color: $light-blue;
    }
}

#top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-nav { 
    padding: 1rem 0;
    text-align: center;
    flex-grow: 5;
    position: relative;

    .mobile-toggle {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        margin: 0 4rem;

        li {
            display: inline-block;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.17rem;
            }
        }
    }
}

.theme {
    padding: 0;
    padding-top: 0.3em;
    border: none;
    white-space: nowrap;
    flex-grow: 1;
    margin: 0;
    
    label {
        display: inline-block;
        position: relative;
        z-index: 2;
        height: 1.5em;
    }

    input {
        opacity: 0;
	    position: absolute;
    }
}

.theme label[for="light"] {
    padding-right: 5em;
}

.theme label[for="dark"] {
    margin-left: -4.25em;
    padding-left: 3em;
}

.theme:focus-within label[for="light"]:after {
	box-shadow: 0 0 0 2px $primary-white, 0 0 0 4px $secondary-blue;
}

.theme.focus-within label[for="light"]:after {
	box-shadow: 0 0 0 2px $primary-white, 0 0 0 4px $secondary-blue;
}

.theme label[for="light"]:before,
.theme label[for="light"]:after {
	border: 2px solid $primary-blue;
	content: "";
	height: 1.18em;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
    vertical-align: middle;
}

.theme label[for="light"]:before {
    background: $primary-blue;
    border: 1px solid $primary-white;
	border-radius: 100%;
    position: absolute;
    top: 0.13em;
    right: 2.7em;
	transform: translateX(0em);
    transition: all .2s ease-in-out;
    width: 1.17em;
    height: 1.17em;
    z-index: 2;
    box-sizing: border-box;
}

.theme label[for="light"]:after {
	background: $primary-white;
	border-radius: 1em;
	margin: 0 1em;
	transition: background .2s ease-in-out;
    width: 2.3em;
}

.theme input[id="dark"]:checked ~ label[for="light"]:after {
    background: $primary-blue;
    border-color: $primary-white;
}

.theme input[id="dark"]:checked ~ label[for="light"]:before {
    transform: translateX(1.1em);
    background: $primary-white;
    border-color: $primary-blue;
}

.theme input[id="dark"]:checked ~ label[for="dark"] {
	z-index: 1;
}

section {
 padding-top: 20px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 92vh;
    text-align: center;
}

.icons-social {
    margin: 1em 0;
    i {
        font-size: 2em;
        padding: 10px;
    }
}

#scroll {
    position: absolute;
    bottom: 6em;
    display: inline-block;
    span {
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        transform: rotate(-45deg);
        animation: fly 1.5s infinite;
        box-sizing: border-box;
        border-left: 2px solid $primary-blue;
        border-bottom: 2px solid $primary-blue;

        html[data-theme='dark'] & {
            border-color: $primary-white;
        }
    }

    @keyframes fly {
        0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
          }
        50% {
            opacity: 1;
        }
        100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }
}

.content-box {
    padding: 40px 0 20px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            box-sizing: border-box;
            max-width: 100%;
            height: auto;
            display: block;
            padding: 10px;
            border: 7px solid $light-pink;
    
            html[data-theme='dark'] & {
                border-color: $light-blue;
            }
        }
    }

    .right-part {
        width: 65%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 1rem 0 3rem;
      }
}

#experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            li {
                list-style-type: none;
                position: relative;
                width: 4px;
                margin: 0 auto;
                padding: 30px 0;
                background: $light-pink;

                html[data-theme='dark'] & {
                    background: $light-blue;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 45px;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: $secondary-pink;

                    html[data-theme='dark'] & {
                        background: $secondary-blue;
                    }
                }

                &:nth-child(odd) {
                    div {
                        left: 45px;
                        text-align: left;
                    }
                }
                &:nth-child(even) {
                    div {
                        right: 425px;
                        text-align: right;
                    }
                }

                div {
                    box-sizing: border-box;
                    position: relative;
                    width: 380px;
                    padding: 15px;
                    P {
                        margin: 0;
                    }
                    h3 {
                        margin-top: 0;
                    }
                }
            }
        }
}

.project {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    &:nth-child(even) {
        flex-direction: row-reverse; 
    }

    .project-item-img {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $light-pink;
        border: solid $light-pink;
        border-width: 2rem 0.5rem 0.3rem 0.5rem;
        border-radius: 0.5rem;
        position: relative;
        margin: 0 1rem;
        transition: transform .3s ease-in-out;
    
        html[data-theme='dark'] & {
            background: $light-blue;
            border-color: $light-blue;
        }
    
        &:after {
            content: "";
            position: absolute;
            width: 6px; // Set to px as rem's skew under sub-pixel rendering
            height: 6px;
            top: -1.1rem;
            left: 1rem;
            border-radius: 50%;
            background: $secondary-pink;            // First Button fill
            box-shadow:  
                0 0 0 0.2rem $secondary-pink,      // First button stroke  
                1.3rem 0 0 0 $secondary-pink,           // Second button fill
                1.3rem 0 0 0.2rem $secondary-pink, // Second button stroke
                2.6rem 0 0 0 $secondary-pink,             // Third button fill
                2.6rem 0 0 0.2rem $secondary-pink;   // Third Button stroke
            
            html[data-theme='dark'] & {
                background: $secondary-blue;
                box-shadow:  
                    0 0 0 0.2rem $secondary-blue, 
                    1.3rem 0 0 0 $secondary-blue,          
                    1.3rem 0 0 0.2rem $secondary-blue, 
                    2.6rem 0 0 0 $secondary-blue,             
                    2.6rem 0 0 0.2rem $secondary-blue; 
            }
        }
    
        &:hover {
            transform: scale(1.1);
        }
    
        img {
            max-width: 100%;
            display: block;
            border-radius: 0.5rem;
            height: auto;
        }
    }

    .project-item-text {
        width: 45%;
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

#contact {
    p {
        text-align: center;
        padding: 0 2rem;
    }
}

.flex-container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0;
    .left-part-contact {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .right-part-contact {
        flex-basis: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .color-text {
            color: $secondary-pink;
            font-weight: 600;
        }
    }
}

.contact-form {
    .form-group {
        position: relative;
        margin: 1.5rem 0;
        .form-control {
            -webkit-appearance: none;
            display: block;
            width: 100%;
            height: 2rem;
            border-width: 0 0 2px 0;
            border-color: $secondary-blue;
            border-radius: 0;
            font-family: inherit;
            line-height: 1.5rem;
            font-weight: 400;
            margin-top: 0.5rem;

            html[data-theme='dark'] & {
                background: $primary-blue;
            }
        }
        textarea.form-control {
            height: auto;
        }
    }

    .flex-container-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .btn {
            -webkit-appearance: none;
            display: inline-block;
            background-color: $primary-blue;
            color: $primary-white;
            font-family: inherit;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1.5rem;
            padding: 8px 16px 8px 18px;
            border: 1px solid $primary-blue;
            border-radius: 0.3em;
            box-sizing: border-box;
            cursor: pointer;
    
            html[data-theme='dark'] & {
                background-color: $primary-white;
                color: $primary-blue;
                border-color: $primary-white;
    
                &:hover {
                    background-color: $light-blue;
                    border-color: $light-blue;
                }
    
                &:active {
                    background-color: $secondary-blue;
                    border-color: $secondary-blue;
                }
            }
    
            &:hover {
                background-color: $secondary-blue;
                border-color: $secondary-blue;
            }
    
            &:active {
                background-color: $light-blue;
                border-color: $light-blue;
            }
        }

        .cv-link {
            float: right;
            padding: 8px 16px;
            text-decoration: none;
            color: $primary-blue;
            border: 2px solid $primary-blue;
            border-radius: 0.3em;
            line-height: 1.5rem;
            box-sizing: border-box;
    
            html[data-theme='dark'] & {
                color: $primary-white;
                border-color: $primary-white;
    
                &:hover {
                    border-color: $light-blue;
                }
    
                &:active {
                    border-color: $secondary-blue;
                }
            }
    
            &:hover {
                border-color: $secondary-blue;
            }
    
            &:active {
                border-color: $light-blue;
            }
        }
    }

}

footer {
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    #experience ul li div {
        width: 275px;
    }

    #experience ul li:nth-child(even) div {
        left: -314px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 800px) {
    .header-nav ul {
        justify-content: space-between;
        margin: 0 1.5rem;
    }

    .flex-container {
        flex-direction: column;

        .right-part {
            margin: 2rem 0 0 0;
            width: 100%;
        }
    }

    .project {
        flex-direction: column-reverse;

        .project-item-img {
            margin-bottom: 2rem;
        }

        .project-item-text {
            width: 100%;
            
            h3 {
                text-align: center;
            }
        }

    }

    .flex-container-contact {
        flex-direction: column;


        .left-part-contact {
            align-items: center;
            margin-bottom: 2rem;

            .contact-form {
                width: 75%;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .header-nav {
        ul {
            display: none;
        }
        a.mobile-toggle {
            float: right;
            display: block;
        }
    }

    #top {
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 5rem;
    }

    .subheading {
        font-size: 1.3rem;
    }

    #experience {
        align-items: stretch;
    }

    #experience ul li {
        margin-left: 2rem;

        div {
            width: calc(100vw - 91px);
        }
    }

    #experience ul li:nth-child(even) div {
        left: 45px;
        text-align: left;
    }
}

@media screen and (max-width: 670px) {
    .header-nav.responsive a.mobile-toggle {
        z-index: 100;
    }
    .header-nav.responsive ul {
        float: none;
        display: block;
        text-align: right;
        margin: 2.5rem 0 0 0;
        position: absolute;
        right: 0;

        li {
            display: block;
            padding: .5rem 0;
        }
    }
}